<section class="h-100" fxLayout="column">
  <div class="section-header m-0" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <h1 class="mat-display-2 m-0">{{ article.title }}</h1>
  </div>

  <mat-card
    fxFlex="1 auto"
    fxLayout="column"
    fxLayoutAlign="space-between"
    fxLayoutGap="1rem"
  >
    <div>
      <app-article-card-header
        [redirectAfterDeletion]="true"
        [article]="article"
      ></app-article-card-header>

      <ng-container *ngIf="article.tags.length">
        <app-article-tags [tags]="article.tags"></app-article-tags>
        <div class="divider mt-1 mb-1"></div>
      </ng-container>

      <p class="mat-h3">
        <!--        {{ article.description }}-->
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aliquid
        architecto aut beatae commodi corporis culpa debitis deleniti deserunt error ex
        exercitationem fugit inventore ipsam iusto laboriosam maxime minima necessitatibus
        nemo nesciunt nihil nostrum obcaecati, odio, optio perferendis quidem reiciendis
        repellat repellendus saepe sapiente unde velit, voluptas? Ab accusantium
        asperiores, corporis delectus illum molestiae natus quaerat quia quod saepe.
        Accusantium animi architecto dignissimos distinctio eum incidunt itaque maiores
        nesciunt quos sunt! A ab animi aperiam consectetur deleniti, deserunt eum eveniet
        laboriosam odio optio quae quasi quia quibusdam sequi totam. Accusantium deserunt
        dolorem doloremque ducimus, itaque minus neque nesciunt nisi quas reiciendis,
        tenetur unde ut, velit veniam veritatis vitae voluptatibus. Ab animi delectus
        deleniti ea magni, minus quibusdam quisquam ratione! Consectetur dolores eius
        fuga, harum natus neque obcaecati possimus quis quos, reiciendis, rerum tenetur
        voluptates! Ad amet, cupiditate doloremque error esse facilis, ipsa maiores maxime
        modi nesciunt nihil nostrum officia quam quasi quibusdam reprehenderit voluptatem?
        Incidunt, labore, totam. Alias aliquam blanditiis consectetur, cum dicta
        dignissimos exercitationem facere impedit itaque iusto maxime optio perferendis
        possimus praesentium quaerat quas quia quo quos ratione reiciendis sit suscipit
        temporibus velit! Ab, aspernatur debitis dolore doloremque dolorum ducimus enim
        error ex explicabo facere facilis harum illo ipsam iste iusto laboriosam molestiae
        molestias natus necessitatibus nemo nihil nostrum nulla numquam odio officiis
        omnis praesentium recusandae repellat suscipit vero. Adipisci enim, esse eveniet
        nulla praesentium repellendus veniam. Ab accusamus asperiores aut beatae
        consectetur corporis delectus dolor dolore ea, eligendi eos eveniet exercitationem
        expedita explicabo fuga fugiat in minus nam nemo nobis non nostrum obcaecati
        officia pariatur praesentium sit ullam voluptatem. Autem beatae, dignissimos ex
        minus possimus rerum
      </p>
    </div>

    <app-article-comments [article]="article"></app-article-comments>
  </mat-card>
</section>
