{
  "printWidth": 90,
  "endOfLine": "auto",
  "singleQuote": false,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 70
      }
    }
  ]
}
