<section fxLayout="column" class="h-100">
  <div class="section-header">
    <h1>Edit article</h1>
  </div>

  <div
    class="pl-1 pr-1 pb-1"
    fxFlex="1 auto"
    fxLayout="column"
    fxLayoutAlign="space-between"
    fxLayoutGap="1rem"
  >
    <mat-card>
      <app-article-form
        [article]="article"
        (onSubmit)="editArticle($event)"
      ></app-article-form>
    </mat-card>

    <app-article-comments [article]="article" [darkTheme]="false"></app-article-comments>
  </div>
</section>
