@use "./node_modules/@angular/material" as mat;
@import "variables";

$my-custom-typography: mat.define-typography-config(
  $font-family: "Poppins, sans-serif"
);
@include mat.core($my-custom-typography);

// hide inputs autofill effect
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-out;
}

// Snackbars
.mat-snack-bar-container {
  max-width: 90vw;
  color: $white;

  span {
    width: 100%;
    text-align: center;
    font-weight: 600;
  }

  &.success-snackbar {
    background: $success;
  }

  &.error-snackbar {
    background: $error-dark;
  }
}

// override material styles

:root {
  .mat-drawer-container,
  .mat-drawer {
    background-color: transparent;
  }

  .mat-drawer {
    border: none !important;
  }

  .mat-menu-content {
    padding: 0 !important;
  }

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    &.mw-auto {
      min-width: auto;
    }
  }
}
