$primary: #673ab7;
$primary-dark: #562aa5;
$success: #008b47;
$accent: #ffd740;
$warning: #d5600d;
$error: #ff403e;
$error-dark: #9f1b19;
$grey: #6e6e6e;
$grey-light: #ededed;
$grey-dark: #3e3e3e;
$white: #eaeaea;
