@import "variables";
@import "material";
@import "common";
@import "spacing";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Helvetica Neue", sans-serif;

  &:focus,
  &:active,
  &:visited {
    outline: none;
  }

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 5px;
  }
}

html,
body {
  background-color: $grey-light;
}
