@import "styles/common";
@import "src/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus,
  &:active,
  &:visited {
    outline: none;
  }
}

html,
body {
  background-color: $dark-gray;
}
